<div class="student-detail">
    <h2>Infor Detail Student of <%= @student.name %></h2>

    <div class="show-data">
        <p> Student name: <%= @student.name %></p>
        <p> Age: <%= @student.age %></p>
        <p> Gender: <%= @student.gender %></p>
        <p> Create time: <%= @student.created_at %></p>
        <p> Update time: <%= @student.updated_at %></p>
        <button>
            <a class="action" href="/students">Quay lai</a>
        </button>
    </div>
    
</div>
